@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido!</h1>
    <p>Punto de Venta con Facturación.</p>
</div>

<div style="text-align: center; margin-top: 20px; background-color: #ffffff; padding: 30px; border-radius: 15px; box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);">

    <p style="font-size: 1.2em; font-weight: bold; color: #444; margin-bottom: 1px;">PROYECTO INTEGRADOR II</p>
    <p style="font-size: 1em; color: #777; margin-top: 1px;">ING ISMAEL RODRIGUEZ ELIZALDE</p>
    <br>

    <h2 style="color: #333; font-size: 2em; margin-bottom: 20px;">EQUIPO 1</h2>
    <p style="font-size: 1.1em; line-height: 1; color: #666;">
        <span style="font-weight: bold; color: #0056b3;">Emilio de León Briones</span> 2025377
    </p>
    <p style="font-size: 1.1em; line-height: 1; color: #666;">
        <span style="font-weight: bold; color: #0056b3;">Jair Antonio Ruelas Rosales</span> 1895676
    </p>
    <p style="font-size: 1.1em; line-height: 1; color: #666;">
        <span style="font-weight: bold; color: #0056b3;">Bárbara Mariann Martínez Macías</span> 1957668
    </p>
    <p style="font-size: 1.1em; line-height: 1; color: #666;">
        <span style="font-weight: bold; color: #0056b3;">Rodrigo David Samaniego Huerta</span> 1806664
    </p>
    <p style="font-size: 1.1em; line-height: 1; color: #666;">
        <span style="font-weight: bold; color: #0056b3;">Aaron Emmanuel Almaguer Mata</span> 2016278
    </p>
</div>
<br>